!!! 5
html
  head
    title node-apn-server
    link(rel="icon", type="image/x-icon", href="/favicon.png")
    link(rel="stylesheet", href="stylesheets/foundation.min.css")
    link(rel="stylesheet", href="stylesheets/app.css")
    script(src="javascripts/modernizr.foundation.js")
    //if lt IE 8
      script(src=http://html5shiv.googlecode.com/svn/trunk/html5.js")
  body
    div.row
      div.twelve.columns
        h2 Send some notifications!
        hr
    div.row
      div.twelve.columns
        != body
