extends layout

block content
  ul
    li
      a(href="/users") View all users
    li
      a(href="/users/new") Create a new user
    li
      a(href="/api/notify") Send a notification
    li
      a(href="/api/upload") Upload a certificate pair
