<form name="input" action="/notify" method="post" id="input" enctype="application/x-www-form-urlencoded">
	App Id:
	<input type="text" name="appId" style='width:400px;'>
	<br>
	App Secret:
	<input type="text" name="appSecret" style='width:400px;'>
	<br>
	Device Token:
	<input type="text" name="deviceToken" style='width:400px;'>
	<br>
	Notification Text:
	<input type="text" name="notificationText" style='width:400px;'>
	<br>
	Badge Number:
	<input type="text" name="badgeNumber" style='width:400px;'>
	<br>
	Sound:
	<input type="text" name="sound" style='width:400px;'>
	<br>
	Message Payload:
	<input type="text" name="payload" style='width:400px;'>
	<br>
	<input type="submit" value="Submit"><br>
</form>