!!! 5
html
  head
    title node-apn-server
    link(rel="icon", type="image/x-icon", href="/favicon.png")
    link(rel="stylesheet", href="/stylesheets/foundation.min.css", type="text/css")
    link(rel="stylesheet", href="/stylesheets/app.css", type="text/css")
    script(src="/javascripts/modernizr.foundation.js", type="text/javascript")
  body
    div.row
      div.twelve.columns
        h2 Send some notifications!
        a(href="/sessions/destroy") Logout
        hr
    div.row
      div.twelve.columns
        block content
