extends ../layout

block content
  div.flash
    = message

  h1 New User

  form(name="input", action="/users", method="post", id="input", enctype="application/x-www-form-urlencoded")
    div.row
      div.six.columns
        label Full Name:
        input(type="text", name="fullname")
    div.row
      div.six.columns
        label Email:
        input(type="text", name="email")
    div.row
      div.six.columns
        label Password:
        input(type="password", name="password")
    div.row
      div.six.columns
        label Password Confirmation:
        input(type="password", name="password_confirmation")
    div.row
      div.six.columns
          input(type="submit", value="Submit")
